.form-field {
    display: flex;
    flex-direction: column;
    color: var(--blue);
}

#add-project-title,
#add-project-note,
#add-project-due {
    font-family: 'Roboto Slab';
    font-size: 1rem;
    background: var(--hightlight-on);
    padding: 8px 16px;
    margin: 4px 32px;
    border: none;
    border-radius: 4px;
}

#add-project-title {
    font-size: 1.5rem;
    font-weight: 700;
}

#add-project-note {
    padding: 16px;
}

.add-project-task {
    font-family: 'Roboto Slab';
    font-size: 1rem;
    background: var(--hightlight-on);
    padding: 8px 16px;
    margin: 4px 32px;
    border: none;
    border-radius: 4px;
}

#add-project-button {
    z-index: 10;
    background: url('../assets/images/logo-button.svg') no-repeat center center;
    background-color: var(--blue-tr);
    position: absolute;
    width: 52px;
    height: 52px;
    border: none;
    border-radius: 50%;
    cursor: pointer;
    margin-top: 25px;
    margin-left: calc(100% - 164px);
}

#add-project-button:hover {
    background-color: var(--blue);
}

.alert {
    color: red;
    height: 18px;
    font-size: 0.8rem;
    font-weight: 700;
    letter-spacing: 0.05rem;
    text-align: right;
    padding: 8px 32px 0 0;
}

textarea:focus,
input:focus {
    outline: none;
    border: none;
    box-shadow: inset 0px 0px 3px 1px var(--yellow);
}

select,
select:focus {
    outline: none;
    border: none;
    font-family: 'Roboto Slab';
    font-size: 1rem;
    text-transform: uppercase;
    letter-spacing: 0.1rem;
}

input::placeholder,
textarea::placeholder {
    opacity: 1; /* Firefox */
    color: var(--yellow);
}

.add-project-settings {
    background: var(--hightlight-on);
    display: flex;
    align-items: center;
    justify-content: flex-start;
    gap: 32px;
    margin: 32px 8px 8px 8px;
    border-radius: 4px;
    position: relative;
    font-size: 1rem;
    text-transform: uppercase;
    letter-spacing: 0.1rem;
    padding: 4px 24px;
}

.add-project-bookmark {
    line-height: 2rem;
    background: url('../assets/images/task-check-off.svg') no-repeat center left 0px;
    padding-left: 32px;
    cursor: pointer;
}

.add-project-color {
    line-height: 2rem;
    background: var(--hightlight-off);
    padding: 4px 8px 4px 0px;
    cursor: pointer;
}
