@import url('https://fonts.googleapis.com/css2?family=Roboto+Slab:wght@300;400;700&display=swap');
@import url('reset.css');
@import url('card.css');

:root {
    /* SYSTEM FONTS */
    --system-ui: system-ui, 'Segoe UI', Roboto, Helvetica, Arial, sans-serif, 'Apple Color Emoji',
        'Segoe UI Emoji', 'Segoe UI Symbol';

    /* COLORS */
    --white: #e6e6e6;
    --gray: #d5d5d5;
    --yellow-lt: #eed9c3;
    --yellow: #e3b261;
    --green: #a78347;
    --green-dk: #353535;
    --blue: #111827;

    --blue-tr: #111827dd;
    --hightlight-off: #ffffff00;
    --hightlight-on: #ffffff88;

    /* SIZING */
    --sidebar-w: 320px;
}

body {
    background: var(--blue);
    color: var(--gray);
    font-family: 'Roboto Slab', sans-serif;
    font-size: 1rem;
}

a {
    text-decoration: none;
    color: var(--yellow-lt);
}

a:hover {
    text-decoration: none;
    color: var(--yellow);
}

header {
    z-index: 100;
    background: var(--blue-tr);
    backdrop-filter: blur(4px);
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    padding: 32px;
    position: fixed;
    width: calc(100% - 64px);
    top: 0;
}

.logo {
    display: flex;
    flex-direction: row;
    align-items: center;
}

h1 {
    font-size: 2rem;
    font-weight: 700;
    color: var(--yellow);
    padding-left: 16px;
}

.content {
    width: 100%;
    height: 100%;
    margin-top: 120px;
    display: flex;
    flex: 1;
}

.sidebar {
    min-width: var(--sidebar-w);
    margin-right: 32px;
    margin-bottom: 68px;
    position: sticky;
    top: 120px;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: center;
    /* TODO: ht < vh ? 100%, j-c:centr : calc() */
    /* height: 100%; */
    height: calc(100vh - (120px + 68px));
}

.sidebar h2 {
    font-size: 2rem;
    font-weight: 400;
    color: var(--yellow);
    padding-left: 100px;
    padding-bottom: 32px;
}

.sidebar h3 {
    background: url('../assets/images/line-thin.svg') no-repeat top 12px left -32px;
    background-opacity: 0.4;
    font-size: 1.5rem;
    font-weight: 400;
    color: var(--yellow-lt);
    padding-left: 100px;
    padding-bottom: 24px;
}

.sidebar ul {
    padding-bottom: 48px;
}

.sidebar li {
    padding-left: 120px;
    padding-bottom: 24px;
}

.projects {
    width: 100%;
    height: auto;
    display: grid;
    /* TODO: if cards.length < 3 ? gtc: 1fr... : gtc: repeat */
    /* grid-template-columns: 1fr 1fr 1fr; */
    grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
    gap: 32px;
    margin-right: 32px;
    margin-bottom: 32px;
}

.card {
    /* background: var(--gray); */
    background: #6de5ff;
    color: var(--blue);
    border-radius: 8px;
    padding: 32px 0 0 0;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.curtain {
    width: 100vw;
    height: 100vh;
    backdrop-filter: blur(4px);
    background: var(--blue-tr);
    position: fixed;
    top: 0;
    left: 0;
}

.add-card {
    background: var(--gray);
    width: 33vw;
    /* height: calc(100vh - (120px + 68px)); */
    position: absolute;
    top: 120px;
    margin-left: 32px;
    color: var(--blue);
}

footer {
    /* background: var(--blue-tr); */
    z-index: 100;
    backdrop-filter: blur(4px);
    min-width: var(--sidebar-w);
    position: fixed;
    bottom: 0px;
    display: flex;
    align-items: center;
    font-size: 0.8rem;
    text-transform: uppercase;
    letter-spacing: 0.1rem;
    padding: 16px 0;
    padding-left: 32px;
    margin: 0;
}

footer img {
    width: 24px;
    margin: 0 8px;
}

.hidden {
    display: none;
}
