@import url('https://fonts.googleapis.com/css2?family=Roboto+Slab:wght@300;400;700&display=swap');
@import url('reset.css');
@import url('card.css');
@import url('card-create.css');

:root {
    /* SYSTEM FONTS */
    --system-ui: system-ui, 'Segoe UI', Roboto, Helvetica, Arial, sans-serif, 'Apple Color Emoji',
        'Segoe UI Emoji', 'Segoe UI Symbol';

    /* COLORS */
    --white: #e6e6e6;
    --gray: #d5d5d5;
    --yellow-lt: #eed9c3;
    --yellow: #e3b261;
    --green: #a78347;
    --green-dk: #353535;
    --blue: #111827;

    --blue-tr: #111827dd;
    --hightlight-off: #ffffff00;
    --hightlight-on: #ffffff88;

    /* SIZING */
    --sidebar-w: 320px;
}

body {
    background: var(--blue);
    color: var(--gray);
    font-family: 'Roboto Slab', sans-serif;
    font-size: 1rem;
    width: 100%;
    height: 100vh;
    display: flex;
    flex: 1;
    flex-direction: column;
}

a {
    text-decoration: none;
    color: var(--yellow-lt);
}

a:hover {
    text-decoration: none;
    color: var(--yellow);
}

header {
    z-index: 100;
    background: var(--blue-tr);
    backdrop-filter: blur(4px);
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    padding: 32px;
    position: fixed;
    width: calc(100% - 64px);
    top: 0;
}

.logo {
    display: flex;
    flex-direction: row;
    align-items: center;
    cursor: pointer;
}

.logo:hover h1 {
    color: var(--yellow-lt);
}

h1 {
    font-size: 2rem;
    font-weight: 700;
    color: var(--yellow);
    padding-left: 16px;
}

.clock {
    font-size: 1.2rem;
    text-transform: uppercase;
    letter-spacing: 0.1rem;
    color: var(--yellow-lt);
}

.projects {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
    gap: 32px;
    padding: 120px 32px 32px 32px;
}

.card {
    background: var(--gray);
    color: var(--blue);
    border-radius: 8px;
    padding: 32px 0 0 0;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.empty-card {
    background: transparent;
    padding: 0 32px;
}

.curtain {
    width: 100vw;
    height: 100vh;
    backdrop-filter: blur(4px);
    background: var(--blue-tr);
    position: fixed;
    top: 0;
    left: 0;
}

.create-container {
    z-index: 150;
    position: absolute;
    top: 120px;
    display: flex;
    flex: 1;
}

.create-card {
    background: var(--gray);
    color: var(--blue);
    min-width: 480px;
    margin: 0 48px 72px 32px;
    padding-top: 32px;
    padding-bottom: 12px;
    border-radius: 8px;
}

footer {
    position: sticky;
    top: 100vh;
    display: flex;
    align-items: center;
    font-size: 0.8rem;
    text-transform: uppercase;
    letter-spacing: 0.1rem;
    padding: 16px 32px;
}

footer img {
    width: 24px;
    margin: 0 8px;
}

.hidden {
    display: none;
}
